$table-border: 1px solid black;

mat-table {
  border: $table-border;

  mat-row:not(:last-child),
  mat-header-row {
    border-bottom: $table-border;
  }

  mat-header-cell,
  mat-cell {
    padding-left: 10px;

    &:not(:last-child) {
      border-right: $table-border;
    }
  }
}

mat-paginator {
  ::ng-deep {
    .mat-paginator-container {
      flex-wrap: nowrap;
      justify-content: center;
    }

    .mat-paginator-range-actions {
      flex: 1;
      padding-left: 16%;
    }
  }
}
