@import '~@angular/material/theming';

$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-pink, A400, 900, A100);
$app-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Export theme colors
$primary: mat-color($app-primary);
$primary-0: mat-color($app-primary, 900);
$primary-1: mat-color($app-primary, 800);
$primary-2: mat-color($app-primary, 700);
$primary-3: mat-color($app-primary, 600);

$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$header-height: 50px;
$page-padding: 10px;

$primary-bg: #f5f5f5;
$active-link-bg: #dae8fc;
$primary-text: black;
$primary-border-color: #666666;
$active-link-border-color: #6c8ebf;
